body{
	/*Removes sidescrollbar*/
	background-color: darkgray;
	max-width: 100%;
	overflow-x: hidden;
}
.topimg{
	background-image: url(../img/fjord.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-weight: bold;
	text-align: center;
	font-size: 50px;
	padding: 100px;	
	background-position: center;
	color:rgb(221, 223, 241);
}
.navbar{
	font-style: italic;
	font-size: 25px;
	text-align: center;
	padding: 15px;
	margin: 10px;
	background-color: gainsboro;
}
.infobartop{
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	font-style: italic;
	padding: 15px;
	margin: 10px;
	background-color: gainsboro;
	border-radius: 30px;
}
.infotext{
	font-style: italic;
	font-size: 2vw;
	text-align: center;
	padding: 50px;
	margin: 10px;
	margin-top: 10px;
	background-color: gainsboro;
	color: darkred;
	border-style: dashed;
}
.runestoneimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.wrapper{
	display: grid;
	grid-template-columns: 33% 33% 33%;
}
.footer{
	text-align: center;
	font-size: 15px;
}
