html{
	background-color: lightblue;
}
h1{
	padding: 10px;
	margin-bottom: 0px;
	border-style: solid;
	border-radius: 100px;
	background-color: lightblue;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}
.formdiv{
	background-color: lightblue;
	text-align: center;
	font-size:20px;
	font-style: italic;
	font-weight: bold;
}
.submit{
	padding: 20px;
}
